<!DOCTYPE html>
<html>
<head><title>Your Workout Schedule</title></head>
<body>
  <h1>Here is your Tailored Workout Schedule {{ name }}:</h1>

  <pre>{{ schedule }}</pre>

  <p>Would you like to change any workouts? If so, specify which:</p>
  <form method="POST" action="/modify">
    <input type="hidden" name="name" value="{{ name }}">
    <input type="text" name="changes" placeholder="Specify changes here">
    <input type="submit" value="Submit Changes">
  </form>

  <br>
  <form action="/" method="get">
    <button type="submit">Return to Form</button>
  </form>
</body>
</html>